<a href="https://colab.research.google.com/github/Chooladeva/Machine-Learning-Preprocessing-/blob/main/Machine_Learning_Preprocessing_Steps.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
## read_crimeData() for reading the dataset
def read_crimeData(path):
  '''this function reads the Crime Dataset and returns it as DataFrame'''

  df_t = pd.read_table(path, sep=',', na_values='?', header=None)
  print('Sample dataset: \n', df_t.head())

  return df_t

## read_colCrime() for reading the column names
def read_colCrime(path):
  '''this function returns column names of the Crime Dataset in the same order'''
  
  cols = open(path, mode='r', encoding='utf-8-sig')
  col_c = cols.read().split(',')
  cols.close()
  print('Number of columns read: ', len(col_c))

  return(col_c)

## target_variables() function
def target_variables():
  '''this function returns potential target (Y) column variables'''
  return col_names[129:]

In [3]:
## Mounting the Google Drive
from google.colab import drive
drive.mount('/content/drive')

## Reading the data
df_crime = read_crimeData('/content/drive/MyDrive/Colab Documents/CommViolPredUnnormalizedData.txt')
col_names = read_colCrime('/content/drive/MyDrive/Colab Documents/CommViolPredUnnormalizedData_colNames.txt')

Mounted at /content/drive
Sample dataset:
                        0   1     2        3    4      5     6     7      8    \
0  BerkeleyHeightstownship  NJ  39.0   5320.0    1  11980  3.10  1.37  91.78
1           Marpletownship  PA  45.0  47616.0    1  23123  2.82  0.80  95.57
2               Tigardcity  OR   NaN      NaN    1  29344  2.43  0.74  94.33
3         Gloversvillecity  NY  35.0  29443.0    1  16656  2.40  1.70  97.35
4              Bemidjicity  MN   7.0   5068.0    1  11245  2.76  0.53  89.16

    9    ...    137      138     139      140    141     142   143    144  \
0  6.50  ...   14.0   114.85   138.0  1132.08   16.0  131.26   2.0  16.41
1  3.44  ...   57.0   242.37   376.0  1598.78   26.0  110.55   1.0   4.25
2  3.43  ...  274.0   758.14  1797.0  4972.19  136.0  376.30  22.0  60.87
3  0.50  ...  225.0  1301.78   716.0  4142.56   47.0  271.93   NaN    NaN
4  1.17  ...   91.0   728.93  1060.0  8490.87   91.0  728.93   5.0  40.05

      145      146
0   41.02  1394.59
1  127.56  1955.95
2  218.59  6167.51
3  306.64      NaN
4     NaN  9988.79

[5 rows x 147 columns]
Number of columns read:  147

Assigning column names to the crime dataset (df_crime)

In [4]:
df_crime.columns =['communityname','state','countyCode','communityCode','fold','population',
                   'householdsize','racepctblack','racePctWhite','racePctAsian','racePctHisp',
                   'agePct12t21','agePct12t29','agePct16t24','agePct65up','numbUrban','pctUrban',
                   'medIncome','pctWWage','pctWFarmSelf','pctWInvInc','pctWSocSec','pctWPubAsst',
                   'pctWRetire','medFamInc','perCapInc','whitePerCap','blackPerCap','indianPerCap',
                   'AsianPerCap','OtherPerCap','HispPerCap','NumUnderPov','PctPopUnderPov','PctLess9thGrade',
                   'PctNotHSGrad','PctBSorMore','PctUnemployed','PctEmploy','PctEmplManu','PctEmplProfServ',
                   'PctOccupManu','PctOccupMgmtProf','MalePctDivorce','MalePctNevMarr','FemalePctDiv','TotalPctDiv',
                   'PersPerFam','PctFam2Par','PctKids2Par','PctYoungKids2Par','PctTeen2Par','PctWorkMomYoungKids','PctWorkMom',
                   'NumKidsBornNeverMar','PctKidsBornNeverMar','NumImmig','PctImmigRecent','PctImmigRec5','PctImmigRec8','PctImmigRec10',
                   'PctRecentImmig','PctRecImmig5','PctRecImmig8','PctRecImmig10','PctSpeakEnglOnly','PctNotSpeakEnglWell','PctLargHouseFam',
                   'PctLargHouseOccup','PersPerOccupHous','PersPerOwnOccHous','PersPerRentOccHous','PctPersOwnOccup','PctPersDenseHous',
                   'PctHousLess3BR','MedNumBR','HousVacant','PctHousOccup','PctHousOwnOcc','PctVacantBoarded','PctVacMore6Mos','MedYrHousBuilt',
                   'PctHousNoPhone','PctWOFullPlumb','OwnOccLowQuart','OwnOccMedVal','OwnOccHiQuart','OwnOccQrange','RentLowQ','RentMedian','RentHighQ',
                   'RentQrange','MedRent','MedRentPctHousInc','MedOwnCostPctInc','MedOwnCostPctIncNoMtg','NumInShelters','NumStreet','PctForeignBorn',
                   'PctBornSameState','PctSameHouse85','PctSameCity85','PctSameState85','LemasSwornFT','LemasSwFTPerPop','LemasSwFTFieldOps','LemasSwFTFieldPerPop',
                   'LemasTotalReq','LemasTotReqPerPop','PolicReqPerOffic','PolicPerPop','RacialMatchCommPol','PctPolicWhite','PctPolicBlack','PctPolicHisp',
                   'PctPolicAsian','PctPolicMinor','OfficAssgnDrugUnits','NumKindsDrugsSeiz','PolicAveOTWorked','LandArea','PopDens','PctUsePubTrans','PolicCars','PolicOperBudg','LemasPctPolicOnPatr',
                   'LemasGangUnitDeploy','LemasPctOfficDrugUn','PolicBudgPerPop','murders','murdPerPop','rapes','rapesPerPop','robberies','robbbPerPop','assaults','assaultPerPop',
                   'burglaries','burglPerPop','larcenies','larcPerPop','autoTheft','autoTheftPerPop','arsons','arsonsPerPop','ViolentCrimesPerPop','nonViolPerPop']
print(df_crime)

                communityname state  countyCode  communityCode  fold  \
0     BerkeleyHeightstownship    NJ        39.0         5320.0     1
1              Marpletownship    PA        45.0        47616.0     1
2                  Tigardcity    OR         NaN            NaN     1
3            Gloversvillecity    NY        35.0        29443.0     1
4                 Bemidjicity    MN         7.0         5068.0     1
...                       ...   ...         ...            ...   ...
2210               Mercedcity    CA         NaN            NaN    10
2211            Pinevillecity    LA         NaN            NaN    10
2212              Yucaipacity    CA         NaN            NaN    10
2213             Beevillecity    TX         NaN            NaN    10
2214       WestSacramentocity    CA         NaN            NaN    10

      population  householdsize  racepctblack  racePctWhite  racePctAsian  \
0          11980           3.10          1.37         91.78          6.50
1          23123           2.82          0.80         95.57          3.44
2          29344           2.43          0.74         94.33          3.43
3          16656           2.40          1.70         97.35          0.50
4          11245           2.76          0.53         89.16          1.17
...          ...            ...           ...           ...           ...
2210       56216           3.07          6.87         61.68         15.23
2211       12251           2.68         21.18         76.65          1.52
2212       32824           2.46          0.52         92.62          0.98
2213       13547           2.89          3.37         69.91          0.90
2214       28898           2.61          2.39         71.27          9.09

      ...  burglaries  burglPerPop  larcenies  larcPerPop  autoTheft  \
0     ...        14.0       114.85      138.0     1132.08       16.0
1     ...        57.0       242.37      376.0     1598.78       26.0
2     ...       274.0       758.14     1797.0     4972.19      136.0
3     ...       225.0      1301.78      716.0     4142.56       47.0
4     ...        91.0       728.93     1060.0     8490.87       91.0
...   ...         ...          ...        ...         ...        ...
2210  ...      1376.0      2268.72     2563.0     4225.82      489.0
2211  ...       104.0       860.43      574.0     4748.90       24.0
2212  ...       628.0      1709.26      895.0     2435.97      179.0
2213  ...       192.0      1508.01      474.0     3722.90       13.0
2214  ...       791.0      2614.53     1458.0     4819.20      405.0

      autoTheftPerPop  arsons  arsonsPerPop  ViolentCrimesPerPop  \
0              131.26     2.0         16.41                41.02
1              110.55     1.0          4.25               127.56
2              376.30    22.0         60.87               218.59
3              271.93     NaN           NaN               306.64
4              728.93     5.0         40.05                  NaN
...               ...     ...           ...                  ...
2210           806.25    34.0         56.06               545.75
2211           198.56     2.0         16.55               124.10
2212           487.19     8.0         21.77               353.83
2213           102.10     1.0          7.85               691.17
2214          1338.67    20.0         66.11               918.89

      nonViolPerPop
0           1394.59
1           1955.95
2           6167.51
3               NaN
4           9988.79
...             ...
2210        7356.84
2211        5824.44
2212        4654.20
2213        5340.87
2214        8838.50

[2215 rows x 147 columns]

Identifying target variables.

In [5]:
target_variables()

['murders',
 'murdPerPop',
 'rapes',
 'rapesPerPop',
 'robberies',
 'robbbPerPop',
 'assaults',
 'assaultPerPop',
 'burglaries',
 'burglPerPop',
 'larcenies',
 'larcPerPop',
 'autoTheft',
 'autoTheftPerPop',
 'arsons',
 'arsonsPerPop',
 'ViolentCrimesPerPop',
 'nonViolPerPop']

Removing the rest of the target variables from the dataset except 'ViolentCrimesPerPop'

In [6]:
df_crime.drop(columns=['murders','murdPerPop','rapes','rapesPerPop','robberies','robbbPerPop','assaults','assaultPerPop','burglaries','burglPerPop','larcenies','larcPerPop',
                       'autoTheft','autoTheftPerPop','arsons','arsonsPerPop','nonViolPerPop'], axis = 1, inplace= True)

In [7]:
df_crime

,communityname,state,countyCode,communityCode,fold,population,householdsize,racepctblack,racePctWhite,racePctAsian,...,LandArea,PopDens,PctUsePubTrans,PolicCars,PolicOperBudg,LemasPctPolicOnPatr,LemasGangUnitDeploy,LemasPctOfficDrugUn,PolicBudgPerPop,ViolentCrimesPerPop
0,BerkeleyHeightstownship,NJ,39.0,5320.0,1,11980,3.10,1.37,91.78,6.50,...,6.5,1845.9,9.63,NaN,NaN,NaN,NaN,0.0,NaN,41.02
1,Marpletownship,PA,45.0,47616.0,1,23123,2.82,0.80,95.57,3.44,...,10.6,2186.7,3.84,NaN,NaN,NaN,NaN,0.0,NaN,127.56
2,Tigardcity,OR,NaN,NaN,1,29344,2.43,0.74,94.33,3.43,...,10.6,2780.9,4.37,NaN,NaN,NaN,NaN,0.0,NaN,218.59
3,Gloversvillecity,NY,35.0,29443.0,1,16656,2.40,1.70,97.35,0.50,...,5.2,3217.7,3.31,NaN,NaN,NaN,NaN,0.0,NaN,306.64
4,Bemidjicity,MN,7.0,5068.0,1,11245,2.76,0.53,89.16,1.17,...,11.5,974.2,0.38,NaN,NaN,NaN,NaN,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2210,Mercedcity,CA,NaN,NaN,10,56216,3.07,6.87,61.68,15.23,...,16.7,3365.4,0.59,NaN,NaN,NaN,NaN,0.0,NaN,545.75
2211,Pinevillecity,LA,NaN,NaN,10,12251,2.68,21.18,76.65,1.52,...,7.3,1682.8,1.15,NaN,NaN,NaN,NaN,0.0,NaN,124.10
2212,Yucaipacity,CA,NaN,NaN,10,32824,2.46,0.52,92.62,0.98,...,27.5,1195.2,0.12,NaN,NaN,NaN,NaN,0.0,NaN,353.83
2213,Beevillecity,TX,NaN,NaN,10,13547,2.89,3.37,69.91,0.90,...,6.3,2142.2,0.00,NaN,NaN,NaN,NaN,0.0,NaN,691.17
2214,WestSacramentocity,CA,NaN,NaN,10,28898,2.61,2.39,71.27,9.09,...,21.7,1331.0,1.39,NaN,NaN,NaN,NaN,0.0,NaN,918.89

### Understandig the data

In [8]:
# information of the dataset
df_crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2215 entries, 0 to 2214
Columns: 130 entries, communityname to ViolentCrimesPerPop
dtypes: float64(100), int64(28), object(2)
memory usage: 2.2+ MB

In [9]:
# datatypes
df_crime.dtypes

communityname           object
state                   object
countyCode             float64
communityCode          float64
fold                     int64
                        ...
LemasPctPolicOnPatr    float64
LemasGangUnitDeploy    float64
LemasPctOfficDrugUn    float64
PolicBudgPerPop        float64
ViolentCrimesPerPop    float64
Length: 130, dtype: object

In [10]:
# summary of the dataset
df_crime.describe()

,countyCode,communityCode,fold,population,householdsize,racepctblack,racePctWhite,racePctAsian,racePctHisp,agePct12t21,...,LandArea,PopDens,PctUsePubTrans,PolicCars,PolicOperBudg,LemasPctPolicOnPatr,LemasGangUnitDeploy,LemasPctOfficDrugUn,PolicBudgPerPop,ViolentCrimesPerPop
count,994.000000,991.000000,2215.000000,2.215000e+03,2215.000000,2215.000000,2215.000000,2215.000000,2215.000000,2215.000000,...,2215.000000,2215.000000,2215.000000,343.000000,3.430000e+02,343.000000,343.000000,2215.000000,3.430000e+02,1994.000000
mean,65.587525,45209.251261,5.494357,5.311798e+04,2.707327,9.335102,83.979819,2.670203,7.950176,14.445837,...,27.419955,2783.835034,3.041124,185.478134,3.217602e+07,87.130933,4.285714,0.980163,1.535779e+05,589.078922
std,117.831399,25425.861573,2.872924,2.046203e+05,0.334120,14.247156,16.419080,4.473843,14.589832,4.518623,...,109.822600,2828.993341,4.912917,318.542834,1.104566e+08,10.349612,4.064538,2.877128,2.030409e+05,614.784518
min,1.000000,70.000000,1.000000,1.000500e+04,1.600000,0.000000,2.680000,0.030000,0.120000,4.580000,...,0.900000,10.000000,0.000000,20.000000,2.380215e+06,10.850000,0.000000,0.000000,1.526040e+04,0.000000
25%,11.000000,22887.000000,3.000000,1.436600e+04,2.500000,0.860000,76.320000,0.620000,0.930000,12.250000,...,7.300000,1181.900000,0.360000,54.000000,7.275060e+06,84.295000,0.000000,0.000000,8.809435e+04,161.700000
50%,27.000000,46925.000000,5.000000,2.279200e+04,2.660000,2.870000,90.350000,1.230000,2.180000,13.620000,...,13.700000,2027.300000,1.220000,86.000000,1.116411e+07,89.580000,5.000000,0.000000,1.145820e+05,374.060000
75%,80.500000,65805.000000,8.000000,4.302400e+04,2.850000,11.145000,96.225000,2.670000,7.810000,15.360000,...,26.100000,3321.700000,3.365000,189.500000,2.014754e+07,93.200000,10.000000,0.000000,1.556557e+05,794.400000
max,840.000000,94597.000000,10.000000,7.322564e+06,5.280000,96.670000,99.630000,57.460000,95.290000,54.400000,...,3569.800000,44229.900000,54.330000,3187.000000,1.617293e+09,99.940000,10.000000,48.440000,2.422367e+06,4877.060000

In [11]:
# summary of object variables in the dataset
df_crime.describe(include=object)

       communityname state
count           2215  2215
unique          2018    48
top       Auburncity    CA
freq               5   279

In [12]:
# shape of the dataset
df_crime.shape

(2215, 130)

### Handling 'Nan' values

Number of missing values count in the dataset

In [13]:
print("Missing values : ",df_crime.isnull().sum().sum())

Missing values :  43851

Imputing missing values in Categorical Variables

In [14]:
for col in ['state','communityname']:
    df_crime[col].fillna(0,inplace=True)

In [15]:
(df_crime.isnull().sum())

communityname             0
state                     0
countyCode             1221
communityCode          1224
fold                      0
                       ...
LemasPctPolicOnPatr    1872
LemasGangUnitDeploy    1872
LemasPctOfficDrugUn       0
PolicBudgPerPop        1872
ViolentCrimesPerPop     221
Length: 130, dtype: int64

Imputing the missing values with the mean value for each column

In [16]:
df_crime.fillna(df_crime.mean(), inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

In [18]:
df_crime

,communityname,state,countyCode,communityCode,fold,population,householdsize,racepctblack,racePctWhite,racePctAsian,...,LandArea,PopDens,PctUsePubTrans,PolicCars,PolicOperBudg,LemasPctPolicOnPatr,LemasGangUnitDeploy,LemasPctOfficDrugUn,PolicBudgPerPop,ViolentCrimesPerPop
0,BerkeleyHeightstownship,NJ,39.000000,5320.000000,1,11980,3.10,1.37,91.78,6.50,...,6.5,1845.9,9.63,185.478134,3.217602e+07,87.130933,4.285714,0.0,153577.871224,41.020000
1,Marpletownship,PA,45.000000,47616.000000,1,23123,2.82,0.80,95.57,3.44,...,10.6,2186.7,3.84,185.478134,3.217602e+07,87.130933,4.285714,0.0,153577.871224,127.560000
2,Tigardcity,OR,65.587525,45209.251261,1,29344,2.43,0.74,94.33,3.43,...,10.6,2780.9,4.37,185.478134,3.217602e+07,87.130933,4.285714,0.0,153577.871224,218.590000
3,Gloversvillecity,NY,35.000000,29443.000000,1,16656,2.40,1.70,97.35,0.50,...,5.2,3217.7,3.31,185.478134,3.217602e+07,87.130933,4.285714,0.0,153577.871224,306.640000
4,Bemidjicity,MN,7.000000,5068.000000,1,11245,2.76,0.53,89.16,1.17,...,11.5,974.2,0.38,185.478134,3.217602e+07,87.130933,4.285714,0.0,153577.871224,589.078922
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2210,Mercedcity,CA,65.587525,45209.251261,10,56216,3.07,6.87,61.68,15.23,...,16.7,3365.4,0.59,185.478134,3.217602e+07,87.130933,4.285714,0.0,153577.871224,545.750000
2211,Pinevillecity,LA,65.587525,45209.251261,10,12251,2.68,21.18,76.65,1.52,...,7.3,1682.8,1.15,185.478134,3.217602e+07,87.130933,4.285714,0.0,153577.871224,124.100000
2212,Yucaipacity,CA,65.587525,45209.251261,10,32824,2.46,0.52,92.62,0.98,...,27.5,1195.2,0.12,185.478134,3.217602e+07,87.130933,4.285714,0.0,153577.871224,353.830000
2213,Beevillecity,TX,65.587525,45209.251261,10,13547,2.89,3.37,69.91,0.90,...,6.3,2142.2,0.00,185.478134,3.217602e+07,87.130933,4.285714,0.0,153577.871224,691.170000
2214,WestSacramentocity,CA,65.587525,45209.251261,10,28898,2.61,2.39,71.27,9.09,...,21.7,1331.0,1.39,185.478134,3.217602e+07,87.130933,4.285714,0.0,153577.871224,918.890000

In [19]:
df_crime.isnull().sum()

communityname          0
state                  0
countyCode             0
communityCode          0
fold                   0
                      ..
LemasPctPolicOnPatr    0
LemasGangUnitDeploy    0
LemasPctOfficDrugUn    0
PolicBudgPerPop        0
ViolentCrimesPerPop    0
Length: 130, dtype: int64

In [20]:
print("Missing values after Imputing : ",df_crime.isnull().sum().sum())

Missing values after Imputing :  0

## Performing data pre-processing

In [27]:
df_crime

,communityname,state,countyCode,communityCode,fold,population,householdsize,racepctblack,racePctWhite,racePctAsian,...,LandArea,PopDens,PctUsePubTrans,PolicCars,PolicOperBudg,LemasPctPolicOnPatr,LemasGangUnitDeploy,LemasPctOfficDrugUn,PolicBudgPerPop,ViolentCrimesPerPop
0,BerkeleyHeightstownship,NJ,39.000000,5320.000000,1,11980,3.10,1.37,91.78,6.50,...,6.5,1845.9,9.63,185.478134,3.217602e+07,87.130933,4.285714,0.0,153577.871224,41.020000
1,Marpletownship,PA,45.000000,47616.000000,1,23123,2.82,0.80,95.57,3.44,...,10.6,2186.7,3.84,185.478134,3.217602e+07,87.130933,4.285714,0.0,153577.871224,127.560000
2,Tigardcity,OR,65.587525,45209.251261,1,29344,2.43,0.74,94.33,3.43,...,10.6,2780.9,4.37,185.478134,3.217602e+07,87.130933,4.285714,0.0,153577.871224,218.590000
3,Gloversvillecity,NY,35.000000,29443.000000,1,16656,2.40,1.70,97.35,0.50,...,5.2,3217.7,3.31,185.478134,3.217602e+07,87.130933,4.285714,0.0,153577.871224,306.640000
4,Bemidjicity,MN,7.000000,5068.000000,1,11245,2.76,0.53,89.16,1.17,...,11.5,974.2,0.38,185.478134,3.217602e+07,87.130933,4.285714,0.0,153577.871224,589.078922
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2210,Mercedcity,CA,65.587525,45209.251261,10,56216,3.07,6.87,61.68,15.23,...,16.7,3365.4,0.59,185.478134,3.217602e+07,87.130933,4.285714,0.0,153577.871224,545.750000
2211,Pinevillecity,LA,65.587525,45209.251261,10,12251,2.68,21.18,76.65,1.52,...,7.3,1682.8,1.15,185.478134,3.217602e+07,87.130933,4.285714,0.0,153577.871224,124.100000
2212,Yucaipacity,CA,65.587525,45209.251261,10,32824,2.46,0.52,92.62,0.98,...,27.5,1195.2,0.12,185.478134,3.217602e+07,87.130933,4.285714,0.0,153577.871224,353.830000
2213,Beevillecity,TX,65.587525,45209.251261,10,13547,2.89,3.37,69.91,0.90,...,6.3,2142.2,0.00,185.478134,3.217602e+07,87.130933,4.285714,0.0,153577.871224,691.170000
2214,WestSacramentocity,CA,65.587525,45209.251261,10,28898,2.61,2.39,71.27,9.09,...,21.7,1331.0,1.39,185.478134,3.217602e+07,87.130933,4.285714,0.0,153577.871224,918.890000

Encoding Categorical Data

- when label encoding is performed, the ''communityname' and 'state' variable names are ranked based on the alphabets order. To ovecome this performing OneHot encoder is a must.

In [28]:
from sklearn import preprocessing

In [29]:
from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder

In [30]:
OH_encoder = OneHotEncoder()
 
Encoder  = OH_encoder.fit_transform(df_crime.communityname.values.reshape(-1,1)).toarray()
Encoder_df = pd.DataFrame(Encoder, columns = ["community_name_"+str(OH_encoder.categories_[0][i]) for i in range(len(OH_encoder.categories_[0]))])

df = pd.concat([df_crime, Encoder_df], axis=1)

In [38]:
pip install category-encoders

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting category-encoders
  Downloading category_encoders-2.5.1.post0-py2.py3-none-any.whl (72 kB)
     |████████████████████████████████| 72 kB 638 kB/s
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category-encoders) (1.0.2)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category-encoders) (1.21.6)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category-encoders) (0.12.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category-encoders) (0.5.3)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category-encoders) (1.7.3)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.7/dist-packages (from category-encoders) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.5->category-encoders) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.5->category-encoders) (2022.6)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category-encoders) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category-encoders) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category-encoders) (1.2.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.5.1.post0

In [40]:
import category_encoders as cat_e

In [42]:
#Create the Dataframe for community name column
df=pd.DataFrame(df_crime['communityname'])

#Create object for binary encoding
encoder= cat_e.BinaryEncoder(cols=['communityname'],return_df=True)

#Fit and Transform Data 
data_encoded_1=encoder.fit_transform(df) 
data_encoded_1

,communityname_0,communityname_1,communityname_2,communityname_3,communityname_4,communityname_5,communityname_6,communityname_7,communityname_8,communityname_9,communityname_10
0,0,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,1,1
3,0,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...
2210,1,1,1,1,1,0,1,1,1,1,0
2211,1,1,1,1,1,0,1,1,1,1,1
2212,1,1,1,1,1,1,0,0,0,0,0
2213,1,1,1,1,1,1,0,0,0,0,1
2214,1,1,1,1,1,1,0,0,0,1,0

In [43]:
df_crime_new = pd.concat([df_crime,data_encoded_1], axis = 1)
df_crime_new

,communityname,state,countyCode,communityCode,fold,population,householdsize,racepctblack,racePctWhite,racePctAsian,...,communityname_1,communityname_2,communityname_3,communityname_4,communityname_5,communityname_6,communityname_7,communityname_8,communityname_9,communityname_10
0,BerkeleyHeightstownship,NJ,39.000000,5320.000000,1,11980,3.10,1.37,91.78,6.50,...,0,0,0,0,0,0,0,0,0,1
1,Marpletownship,PA,45.000000,47616.000000,1,23123,2.82,0.80,95.57,3.44,...,0,0,0,0,0,0,0,0,1,0
2,Tigardcity,OR,65.587525,45209.251261,1,29344,2.43,0.74,94.33,3.43,...,0,0,0,0,0,0,0,0,1,1
3,Gloversvillecity,NY,35.000000,29443.000000,1,16656,2.40,1.70,97.35,0.50,...,0,0,0,0,0,0,0,1,0,0
4,Bemidjicity,MN,7.000000,5068.000000,1,11245,2.76,0.53,89.16,1.17,...,0,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2210,Mercedcity,CA,65.587525,45209.251261,10,56216,3.07,6.87,61.68,15.23,...,1,1,1,1,0,1,1,1,1,0
2211,Pinevillecity,LA,65.587525,45209.251261,10,12251,2.68,21.18,76.65,1.52,...,1,1,1,1,0,1,1,1,1,1
2212,Yucaipacity,CA,65.587525,45209.251261,10,32824,2.46,0.52,92.62,0.98,...,1,1,1,1,1,0,0,0,0,0
2213,Beevillecity,TX,65.587525,45209.251261,10,13547,2.89,3.37,69.91,0.90,...,1,1,1,1,1,0,0,0,0,1
2214,WestSacramentocity,CA,65.587525,45209.251261,10,28898,2.61,2.39,71.27,9.09,...,1,1,1,1,1,0,0,0,1,0

In [45]:
#Create the Dataframe for state column
df=pd.DataFrame(df_crime['state'])

#Create object for binary encoding
encoder= cat_e.BinaryEncoder(cols=['state'],return_df=True)

#Fit and Transform Data 
data_encoded_2=encoder.fit_transform(df) 
data_encoded_2

      state_0  state_1  state_2  state_3  state_4  state_5
0           0        0        0        0        0        1
1           0        0        0        0        1        0
2           0        0        0        0        1        1
3           0        0        0        1        0        0
4           0        0        0        1        0        1
...       ...      ...      ...      ...      ...      ...
2210        0        0        1        0        1        1
2211        0        1        0        0        1        1
2212        0        0        1        0        1        1
2213        0        0        1        0        1        0
2214        0        0        1        0        1        1

[2215 rows x 6 columns]

In [46]:
new_df_crime = pd.concat([df_crime_new,data_encoded_2], axis = 1)
new_df_crime

,communityname,state,countyCode,communityCode,fold,population,householdsize,racepctblack,racePctWhite,racePctAsian,...,communityname_7,communityname_8,communityname_9,communityname_10,state_0,state_1,state_2,state_3,state_4,state_5
0,BerkeleyHeightstownship,NJ,39.000000,5320.000000,1,11980,3.10,1.37,91.78,6.50,...,0,0,0,1,0,0,0,0,0,1
1,Marpletownship,PA,45.000000,47616.000000,1,23123,2.82,0.80,95.57,3.44,...,0,0,1,0,0,0,0,0,1,0
2,Tigardcity,OR,65.587525,45209.251261,1,29344,2.43,0.74,94.33,3.43,...,0,0,1,1,0,0,0,0,1,1
3,Gloversvillecity,NY,35.000000,29443.000000,1,16656,2.40,1.70,97.35,0.50,...,0,1,0,0,0,0,0,1,0,0
4,Bemidjicity,MN,7.000000,5068.000000,1,11245,2.76,0.53,89.16,1.17,...,0,1,0,1,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2210,Mercedcity,CA,65.587525,45209.251261,10,56216,3.07,6.87,61.68,15.23,...,1,1,1,0,0,0,1,0,1,1
2211,Pinevillecity,LA,65.587525,45209.251261,10,12251,2.68,21.18,76.65,1.52,...,1,1,1,1,0,1,0,0,1,1
2212,Yucaipacity,CA,65.587525,45209.251261,10,32824,2.46,0.52,92.62,0.98,...,0,0,0,0,0,0,1,0,1,1
2213,Beevillecity,TX,65.587525,45209.251261,10,13547,2.89,3.37,69.91,0.90,...,0,0,0,1,0,0,1,0,1,0
2214,WestSacramentocity,CA,65.587525,45209.251261,10,28898,2.61,2.39,71.27,9.09,...,0,0,1,0,0,0,1,0,1,1

Dropping the 'communityname' and 'state' columns from the data set

In [47]:
df_impcrime= new_df_crime.drop(['communityname', 'state'], axis=1)

In [48]:
df_impcrime

,countyCode,communityCode,fold,population,householdsize,racepctblack,racePctWhite,racePctAsian,racePctHisp,agePct12t21,...,communityname_7,communityname_8,communityname_9,communityname_10,state_0,state_1,state_2,state_3,state_4,state_5
0,39.000000,5320.000000,1,11980,3.10,1.37,91.78,6.50,1.88,12.47,...,0,0,0,1,0,0,0,0,0,1
1,45.000000,47616.000000,1,23123,2.82,0.80,95.57,3.44,0.85,11.01,...,0,0,1,0,0,0,0,0,1,0
2,65.587525,45209.251261,1,29344,2.43,0.74,94.33,3.43,2.35,11.36,...,0,0,1,1,0,0,0,0,1,1
3,35.000000,29443.000000,1,16656,2.40,1.70,97.35,0.50,0.70,12.55,...,0,1,0,0,0,0,0,1,0,0
4,7.000000,5068.000000,1,11245,2.76,0.53,89.16,1.17,0.52,24.46,...,0,1,0,1,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2210,65.587525,45209.251261,10,56216,3.07,6.87,61.68,15.23,29.86,15.46,...,1,1,1,0,0,0,1,0,1,1
2211,65.587525,45209.251261,10,12251,2.68,21.18,76.65,1.52,1.29,17.36,...,1,1,1,1,0,1,0,0,1,1
2212,65.587525,45209.251261,10,32824,2.46,0.52,92.62,0.98,11.00,11.81,...,0,0,0,0,0,0,1,0,1,1
2213,65.587525,45209.251261,10,13547,2.89,3.37,69.91,0.90,62.11,17.16,...,0,0,0,1,0,0,1,0,1,0
2214,65.587525,45209.251261,10,28898,2.61,2.39,71.27,9.09,24.43,12.99,...,0,0,1,0,0,0,1,0,1,1

Splitting the Encoded dataset

- In to independent and dependent variables

In [49]:
X= df_impcrime[[i for i in list(df_impcrime.columns) if i != 'ViolentCrimesPerPop']]

In [50]:
X

,countyCode,communityCode,fold,population,householdsize,racepctblack,racePctWhite,racePctAsian,racePctHisp,agePct12t21,...,communityname_7,communityname_8,communityname_9,communityname_10,state_0,state_1,state_2,state_3,state_4,state_5
0,39.000000,5320.000000,1,11980,3.10,1.37,91.78,6.50,1.88,12.47,...,0,0,0,1,0,0,0,0,0,1
1,45.000000,47616.000000,1,23123,2.82,0.80,95.57,3.44,0.85,11.01,...,0,0,1,0,0,0,0,0,1,0
2,65.587525,45209.251261,1,29344,2.43,0.74,94.33,3.43,2.35,11.36,...,0,0,1,1,0,0,0,0,1,1
3,35.000000,29443.000000,1,16656,2.40,1.70,97.35,0.50,0.70,12.55,...,0,1,0,0,0,0,0,1,0,0
4,7.000000,5068.000000,1,11245,2.76,0.53,89.16,1.17,0.52,24.46,...,0,1,0,1,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2210,65.587525,45209.251261,10,56216,3.07,6.87,61.68,15.23,29.86,15.46,...,1,1,1,0,0,0,1,0,1,1
2211,65.587525,45209.251261,10,12251,2.68,21.18,76.65,1.52,1.29,17.36,...,1,1,1,1,0,1,0,0,1,1
2212,65.587525,45209.251261,10,32824,2.46,0.52,92.62,0.98,11.00,11.81,...,0,0,0,0,0,0,1,0,1,1
2213,65.587525,45209.251261,10,13547,2.89,3.37,69.91,0.90,62.11,17.16,...,0,0,0,1,0,0,1,0,1,0
2214,65.587525,45209.251261,10,28898,2.61,2.39,71.27,9.09,24.43,12.99,...,0,0,1,0,0,0,1,0,1,1

In [51]:
y = df_impcrime[['ViolentCrimesPerPop']]

In [52]:
y

      ViolentCrimesPerPop
0               41.020000
1              127.560000
2              218.590000
3              306.640000
4              589.078922
...                   ...
2210           545.750000
2211           124.100000
2212           353.830000
2213           691.170000
2214           918.890000

[2215 rows x 1 columns]

- In to training and test sets

In [53]:
from sklearn.model_selection import train_test_split

In [54]:
X_train, X_test, y_train, y_test = train_test_split(
   X, y, test_size=0.2, random_state=1212 ,shuffle=True)

In [55]:
print("X_train: ",X_train.shape)

X_train:  (1772, 144)

In [56]:
print("y_train:" ,y_train.shape)

y_train: (1772, 1)

In [57]:
print("X_test: ", X_test.shape)

X_test:  (443, 144)

In [58]:
print("y_test:" ,y_test.shape)

y_test: (443, 1)

Feature Scaling

In [59]:
from sklearn.preprocessing import StandardScaler

In [60]:
scaler = StandardScaler()

Scaled_train =scaler.fit_transform(X_train)
print(Scaled_train)

[[-8.10865919e-01 -1.05189374e+00  1.67121416e-01 ...  1.25671414e+00
   8.38955394e-01 -1.11491613e+00]
 [ 4.44916074e-03  1.22838240e-03  1.21354950e+00 ... -7.95725910e-01
   8.38955394e-01  8.96928454e-01]
 [-2.63740381e-01 -1.91260799e+00 -1.57692539e+00 ... -7.95725910e-01
   8.38955394e-01 -1.11491613e+00]
 ...
 [-7.58758725e-01 -9.81921829e-01  1.67121416e-01 ... -7.95725910e-01
  -1.19195848e+00  8.96928454e-01]
 [ 4.44916074e-03  1.22838240e-03  8.64740139e-01 ... -7.95725910e-01
   8.38955394e-01 -1.11491613e+00]
 [ 4.44916074e-03  1.22838240e-03  1.67121416e-01 ... -7.95725910e-01
   8.38955394e-01  8.96928454e-01]]

In [61]:
Scaled_test =scaler.fit_transform(X_test)
print(Scaled_test)

[[-0.36778657  1.75193507 -0.1342879  ... -0.79289121 -1.09726027
   0.83505569]
 [-0.5749664  -1.08449948 -1.51776559 ... -0.79289121 -1.09726027
   0.83505569]
 [-0.01572445 -0.00454799 -0.82602674 ...  1.26120707  0.9113608
  -1.19752492]
 ...
 [-0.71308629  2.00103647 -1.17189617 ... -0.79289121 -1.09726027
   0.83505569]
 [-0.25268667  0.46823255 -1.17189617 ...  1.26120707 -1.09726027
  -1.19752492]
 [-0.01572445 -0.00454799  0.21158152 ... -0.79289121  0.9113608
  -1.19752492]]